In [24]:
import pandas as pd

In [25]:
data = {}
for i in range(1,4):
    data[i] = pd.read_csv(f"files_for_lab/csv_files/file{i}.csv")

data[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [26]:
for i in range(1,4):
    print(data[i].shape)

(4008, 11)
(996, 11)
(7070, 11)

In [27]:
for i in range(1,4):
    data[i] = data[i].dropna(axis=0)

In [28]:
for i in range (1,4):
    print(data[i].columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [29]:
data[3] = data[3].rename(columns={'Gender':'GENDER', 'State': 'ST'})

In [30]:
# for i in range (2,4):
#     data[i] = data[i][[
#         'Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 
#         'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [31]:
print(data[1].columns == data[2].columns)
print(data[2].columns == data[3].columns)

[ True  True  True  True  True  True  True  True False False False]
[ True  True False  True False  True  True  True False False  True]

In [32]:
for i in range(1,4):
    print(data[i].shape)

(952, 11)
(988, 11)
(7070, 11)

In [33]:
res = pd.concat([data[i] for i in range(1,4)], axis=0)
res.shape

(9010, 11)

In [34]:
res.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [35]:
res = res.drop(['Education', 'Number of Open Complaints'], axis=1)
res

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,825629.78%,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,23405.98798,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [36]:
#print(res.isna().sum())

In [40]:
#for r in res['Customer Lifetime Value']:
vals = res['Customer Lifetime Value']

for v in vals:
    if str(v)[-1] == '%':
        n = v[:-1]
        v = n                                           # aaaaaaaaahhhhhh
        #res.iloc[i][3] = float(r[:-1]) * 100
        #res.iloc[i].replace(to_replace=r, value=r[:-1])     # doesnt work ???
#print(res.iloc[0]['Customer Lifetime Value'])
#res.iloc[0].replace(to_replace='697953.59%', value="HI")    # doesnt work ???
res

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,825629.78%,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,23405.98798,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000